header {
    background-color: #1d77ed;
    color: #fff;
    .head{
        display: flex;
        flex-direction: column;
        max-width: 70%;
        margin: 0 auto;
        font-family: 'Poppins', sans-serif;
    .header_top{
        width: 100%;
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        border-bottom: 1px solid gray;
        .headLeft {
            display: flex;
            align-items: center;
           width: 40%;
        }
        .headRight {
            width: 50%;
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            font-weight: 600;
            align-items: center;
            color: #ffffff8e;
            cursor: pointer;
            .headRightContect {
                border-right: 1px solid #9d9a9a;
                padding-right: 10px;
                width: 55%;
                ul {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    li:hover {
                        color: #fff;
                        transition: all 400ms;
                    }
                }
            }

            .headRightlanguage {
                display: flex;
                justify-content: space-evenly;
                border-right: 1px solid  #9d9a9a;
                width: 25%;
                .language {
                    position: relative;
                    .languages {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        width: 50px;
                        background-color: #fff;
                        position: absolute;
                        left: -9px;
                        opacity: 0;
                        margin-top: 5px;
                        color: black;
                      span{
                        padding: 5px 20px;
                      }
                        span:hover  {
                            background-color: rgba(128, 128, 128, 0.394);
                          
                        }

                    }

                    &:hover .languages {
                        opacity: 1;
                        transition: all 400ms;
                    }
                }
            }

            .headRight_icons {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                align-items: center;
                padding-left: 10px;
                width: 20%;
                i {
                    padding: 8px;
                    border-radius: 50%;
                    text-align: center;
                    &:hover {
                        background-color: rgb(97, 97, 97);
                        color: #fff;
                        transition: all 400ms;
                    }
                }
                
            }
        }
    }
    .header_foot{
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        align-items: center;
        .header_leftLogo{
            width: 15%;
            img{
                width: 100%;
                
            }
        }
        .header_search{
            width: 40%;
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            align-items: center;
            color: gray;
            background-color: #fff;
            padding: 6px 0px;
            input{
                border: none;
                padding: 10px;
                width: 60%;
                outline: none;
                border-radius: inherit;
            }
            .searchFilter{
                border-right: 1px solid gray;
                border-left:  1px solid gray;
                text-align: center;
                width: 30%;
                display: flex;
                justify-content: center;
        
            }
            i{
                text-align: center;
                width: 10%;
            }
        }
        .header_call{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            .call_us{
                display: flex;
                flex-direction: column;
                .call_us_num{
                    font-weight: 600;
                }
            }
        }
        .header_icons{
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            gap: 20px;
            font-size: 20px;
            .header_shop_icon{
                position: relative;
                &:hover .shopcard_box{
                    opacity: 1;
                    transition: all 700ms ease-in
                }
             .shopcard_box{
                position: absolute;
                width: 300px;
                top: 50px;
                right: 0px;
                background-color: #fff;
                color: black;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                font-size: 15px;
               text-align: center;
               padding: 10px;
               opacity: 0;
                .shopcard_top{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(128, 128, 128, 0.818);
                    padding: 10px 0px;
                }
                .shopcard_foot{
                    padding: 10px 0px;
                }
             }   
            }
        }

    }
}
}
nav{
    width: 100%;
        border-bottom: 1px solid rgba(173, 173, 173, 0.575);
    .navbar{
        width: 70%;
        margin: 0 auto;
        display: flex;
         justify-content: space-between;
       font-family: 'Noto Sans', sans-serif;
           gap: 20px;
           font-size: 13px;
              padding: 16px 0px;
              font-weight: 900;
           .navbar_left{
            display: flex;
           flex: 3;
            ul{
                display: flex;
                gap: 25px;
                li{
                    cursor: pointer;
                    &:hover{
                        color: #1d77ed;
                        transition: 300ms;
                    }
                }
            }
           }
           .navbar_right{
            display: flex;
            justify-content: space-between;
            flex: 1;
           }
    }
}

@media (max-width: 575.98px) { 

 }
@media (min-width: 576px) and (max-width: 767.98px) {

  }
@media (min-width: 768px) and (max-width: 991.98px) { 

 }
@media (min-width: 992px) and (max-width: 1199.98px) {

  }
@media (min-width: 1200px) { 

 }