

.products_cards{
 border: 1px solid black;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 gap: 20px;
  .product_card{
        width: 330px; 
  height: 400px;
  background-size: cover; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(146, 57, 57); 
  text-align: center;
  border: 1px solid gray;
  img{
    width: 400px;
  }

    }
}
